<?xml version="1.0" encoding="utf-8"?>

<launch>

  <node name="depth_front" type="video_recorder" pkg="image_view" output="screen" respawn="false">
    <remap from="image" to="/depth_camera_front/color/image_raw"/>
    <param name="fps" value="60"/>
    <param name="filename" value="/home/andretimpe/depth_front.mjpg"/>
  </node>

    <node name="depth_rear" type="video_recorder" pkg="image_view" output="screen" respawn="false">
    <remap from="image" to="/depth_camera_rear/color/image_raw"/>
    <param name="fps" value="60"/>
    <param name="filename" value="/home/andretimpe/depth_rear.mjpg"/>
  </node>

    <node name="depth_right" type="video_recorder" pkg="image_view" output="screen" respawn="false">
    <remap from="image" to="/depth_camera_right/color/image_raw"/>
    <param name="filename" value="/home/andretimpe/depth_right.mjpg"/>
  </node>

    <node name="depth_left" type="video_recorder" pkg="image_view" output="screen" respawn="false">
    <remap from="image" to="/depth_camera_left/color/image_raw"/>
    <param name="fps" value="60"/>
    <param name="filename" value="/home/andretimpe/depth_left.mjpg"/>
  </node>

</launch>
